# GHC / Cabal / Stack
.cabal-sandbox/
.ghc.environment.*
.stack-work/
cabal.sandbox.config
cabal.config
dist/
dist-newstyle/
stack.yaml.lock
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
*.local
*.prof
*.aux
*.hp
*.bin
*.log
*.tar.gz
*.DS_Store
*.glob
*.vos
*.vok
*.vo

# HDL Directories (often created during development cycle)
/vhdl
/verilog
/systemverilog

# Nix Output
result*

# Direnv
.direnv/
.envrc

# Tags
tags
TAGS

# Project Specific
_build/
_build_nix/
.opam-local/
