.cabal-sandbox/
.direnv/
.ghc.environment.*
.stack-work/
cabal.sandbox.config
cabal.config
dist-newstyle/
stack.yaml.lock
tags
TAGS
/cabal.project.local
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
*.local
*.prof
*.aux
*.hp
*.bin
*.log
*.tar.gz
*.DS_Store
Trial_crypto.hs
Trial_crypto2.hs
Trial.hs
_build/.shake.database
_build/.shake.lock
_build/SHA/SHA1/02-hdl/clash-manifest.json
_build/SHA/SHA1/02-hdl/topEntity.sdc
_build/SHA/SHA1/02-hdl/topEntity.v
_build/SHA/SHA1/03-net/topEntity.json
_build/SHA/SHA1/04-bitstream/topEntity.bit
_build/SHA/SHA1/04-bitstream/topEntity.config
_build/SHA/SHA224/02-hdl/clash-manifest.json
_build/SHA/SHA224/02-hdl/topEntity.sdc
_build/SHA/SHA224/02-hdl/topEntity.v
_build/SHA/SHA224/03-net/topEntity.json
_build/SHA/SHA256/02-hdl/clash-manifest.json
_build/SHA/SHA256/02-hdl/topEntity.sdc
_build/SHA/SHA256/02-hdl/topEntity.v
_build/SHA/SHA256/03-net/topEntity.json
_build/SHA/SHA256/04-bitstream/topEntity.bit
