###############################################################################
# Copyright   : Copyright © 2024-2025 QBayLogic B.V.
# Maintainer  : QBayLogic B.V.
# Stability   : experimental
# Portability : POSIX
#
# Required tooling for targeting the OrangeCrab r0.2.1 in combination with
# the Pmod/Debug Expander board. Don't modify this file directly. Instead,
# copy it to `build.cfg.local` and introduce any required changes there.
###############################################################################

SERIAL_SPEED=115200
PNR_FLAGS=--lpf orangecrab.pcf
HITLT_SERIAL_DEV=/dev/ttyUSB0

###############################################################################

# https://cabal.readthedocs.io/en/stable
CABAL=cabal

# https://github.com/clash-lang/clash-compiler
CLASH=clash

# https://github.com/YosysHQ/yosys/
# YOSYS=yosys
# YOSYS_FLAGS=
# YOSYS_SYNTH_FLAGS=

# https://github.com/YosysHQ/nextpnr
# PNR=nextpnr-ecp5
# PNR_FLAGS=

# https://prjtrellis.readthedocs.io
# PACK=ecppack
# PACK_FLAGS=--freq 38.8

# https://github.com/gregdavill/ecpprog
# PROG=ecpprog
# PROG_FLAGS=

###############################################################################
